@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
footer {
    position: relative;
    width: calc(100% - 4em) !important;
    margin: 2em 2em !important;
    background-color: #f5f8fd !important;
}

footer ul {
    padding-left: 0 !important;
}

.tooltip>.tooltip-inner {
    background: rgba(0, 0, 0, 0.5);
    color: black !important;
    font-size: 13px;
}

.footer-distributed {
    background-color: var(--secondary-color);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
}

.footer-distributed .footer-inside {
    padding: 50px 200px 25px 200px;
}

.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-center {
    width: 60%;
}

.footer-distributed h3 {
    color: black;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.footer-distributed h3 span {
    color: #71c4ff;
}

.footer-distributed .footer-company-name {
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center .footer-center-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-distributed .footer-center .footer-center-wrapper div {
    flex: 1;
    min-width: 120px;
    margin-bottom: 20px;
}

.footer-distributed .footer-center ul {
    list-style-type: none;
    color: black;
}

.footer-distributed .footer-center ul li {
    color: black;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none !important;
}

.footer-distributed .footer-center ul li:hover {
    font-weight: 500;
}

.footer-distributed .footer-center ul li:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.footer-distributed .footer-right {
    width: 39%;
}

.footer-distributed .footer-company-about span,
.footer-distributed .footer-center span {
    display: block;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}


/* --------- */

.footer-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 5px 15px 5px;
}

.footer-bottom div {
    margin: 0 0px 10px 0;
}

.footer-bottom p {
    display: inline-block;
    color: black;
    vertical-align: middle;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}


/* ----------- */

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: black !important;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #ebedf3;
    border-radius: 2px;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    margin-bottom: 0px;
    transition: 0.1s ease-in-out;
    transition-delay: 0.1s;
}

.footer-distributed .footer-icons a>* {
    font-size: 20px;
}


/* .footer-distributed .footer-icons a > ion-icon{
    color: #5383d3;
} */

.footer-distributed .footer-icons a:hover {
    background-color: black;
    color: white;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-inside {
        padding: 50px 50px 25px 50px;
    }
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    footer {
        width: 100% !important;
        margin: 2em 0em !important;
    }
    .footer-distributed .footer-center .footer-center-wrapper div.newsletter {
        margin-right: 0px;
    }
    .footer-distributed .footer-icons {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}